@charset "UTF-8";

header{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: darkslategray;
    text-align: center;
}
th{
    display:inline-block;
    position: absolute;
    width: 20%;
    height: 50px;
    left: 0;
    top: 0;
}
th:hover{
    background-color: cadetblue;
    position: absolute;
    width: 20%;
    height: 48px;
    left: 0;
    top: 0;
}
tr{
    position: absolute;
    padding:0;
	margin:0;
	text-align:center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    top: 16px;
    left: 0;
    height: 100%;
    width: 100%;
}
